<div class="pt-8 px-10">
    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <label class="text-lg text-gray-950">Name</label>
        </div>
        <div class="col-span-12 p-2 border-b-2">
            <span class="text-sm">{{Viewlist?.name}}</span>
        </div>
        <div class="col-span-12 pt-1">
            <label class="text-lg text-gray-950">Phone no</label>
        </div>
        <div class="col-span-12  p-2 border-b-2">
            <span  class="text-sm">{{Viewlist?.value}} {{Viewlist?.phone}}</span>
        </div>
        
    </div>
</div>